<form action="" class="form-group">

  <label for="nome">Nome completo</label>
  <input type="text" name="nome" required>

  <label for="cpf">CPF</label>
  <input type="text" name="cpf" required>

  <label for="empresa">Empresa contratada</label>
  <input type="text" name="empresa" required>

  <label for="funcao">Função</label>
  <input type="text" name="funcao">

  <label for="telefone">Telefone</label>
  <input type="tel" name="telefone">

  <label for="email">E-mail</label>
  <input type="email" name="email">

  <label for="placa">Placa do veículo</label>
  <input type="text" name="placa">

 

  <button type="submit" class="btn_cadastro">Cadastrar</button>
</form>
