.table-data {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    

    background-color: #fcb0455e;
    box-shadow: 1px solid rgba(0, 0, 0, 0.63);

    th {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }

    td {
        padding: 5px;
        text-align: center;
    }
}

