<table class="table-data">
  <thead>
    <tr>
      <th><p>Nome</p></th>
      <th><p>Empresa</p></th>
      <th><p>Entrada</p></th>
      <th><p>Saída</p></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lucas</td>
      <td>Assaí</td>
      <td>15:59</td>
      <td>18:30</td>
    </tr>
    <tr>
      <td>Ana Paula</td>
      <td>Magazine Luiza</td>
      <td>08:10</td>
      <td>17:05</td>
    </tr>
    <tr>
      <td>Rafael Souza</td>
      <td>Atacadão</td>
      <td>09:00</td>
      <td>18:00</td>
    </tr>
    <tr>
      <td>Mariana Lima</td>
      <td>Pão de Açúcar</td>
      <td>07:45</td>
      <td>16:30</td>
    </tr>
    <tr>
      <td>Diego Silva</td>
      <td>Carrefour</td>
      <td>10:15</td>
      <td>19:00</td>
    </tr>
    <tr>
      <td>Camila Torres</td>
      <td>Makro</td>
      <td>13:00</td>
      <td>21:45</td>
    </tr>
    <tr>
      <td>João Henrique</td>
      <td>Roldão</td>
      <td>06:50</td>
      <td>15:20</td>
    </tr>
    <tr>
      <td>Beatriz Rocha</td>
      <td>Assaí</td>
      <td>08:25</td>
      <td>17:10</td>
    </tr>
    <tr>
      <td>Felipe Andrade</td>
      <td>Extra</td>
      <td>12:00</td>
      <td>20:45</td>
    </tr>
    <tr>
      <td>Letícia Moraes</td>
      <td>Dia</td>
      <td>09:35</td>
      <td>18:05</td>
    </tr>
  </tbody>
</table>
